@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.white-text-input {
    @apply border-b border-gray-300 focus:outline-none focus:border-b-2
}

.search-items {
    @apply grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-2
    sm:justify-items-start justify-items-center
}

.search-item {
    @apply py-3 hover:bg-gray-100 max-w-lg
    flex flex-col
}

/* dish */
.dish-category {
    @apply hidden sm:block border-gray-300 border-b
}

.dish-list {
    @apply grid md:grid-cols-2 sm:grid-cols-1 gap-4 my-4
}

.dish-item {
    @apply border-gray-300 sm:border border-b
    my-2 flex justify-between hover:bg-gray-100
}

.dish-picture {

}

.dish-description {
    @apply flex flex-col justify-between
}

.dish-description-item {
    @apply m-4
}